.form-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-container input,
.form-container textarea {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: #1f231c;
  color: white;
}

.form-container button {
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: var(--primary);
}

.chip-input {
  display: flex;
  gap: 10px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  background: var(--primary);
  border-radius: 999px;
}

.chip button {
  padding: 0;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
